.hero-section {
  /* Ganti URL dengan gambar background laptop/belajar Anda */
  background: url("../../assets/background-hero.jpg") no-repeat center
    center/cover;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.7); /* Layer gelap agar teks terbaca */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content {
  max-width: 800px;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 110.00000000000001%;
}

.hero-content p {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 24px;
  letter-spacing: 0.2px;
  opacity: 0.9;
}

.btn-hero {
  background-color: var(--primary-green);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-hero:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 110.00000000000001%;
  }

  .hero-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 24px;
    opacity: 0.9;
  }

  .btn-hero {
    background-color: var(--primary-green);
    color: white;
    padding: 10px 7.5px !important;
    font-weight: 400;
    font-size: 14px;
    transition: transform 0.2s;
  }
}
